@model IEnumerable<Market_Shop.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country_Name)
        </th>
        <th></th>
    </tr>
@{ var count = 0;
    foreach (var item in Model)
    {
        count++;
    <tr>
        <td>@count </td>
        <td>
            @Html.ActionLink(item.Country_Name,"index","City", new { id = item.ID },null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
        }
    }
</table>
